.footer-area .footer-logo {
  margin-bottom: 40px;
}
.footer-area .footer-pera p {
  color: #868c98;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.8;
}
.footer-area .footer-pera.footer-pera2 p {
  padding: 0;
}
.footer-area .footer-tittle h4 {
  color: #000;
  font-size: 20px;
  margin-bottom: 29px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.footer-area .footer-tittle ul li {
  color: #012f5f;
  margin-bottom: 15px;
}
.footer-area .footer-tittle ul li a {
  color: #868c98;
  font-weight: 300;
}
.footer-area .footer-tittle ul li a:hover {
  color: #ff2020;
  padding-left: 5px;
}
.footer-social a i {
  color: #222222;
  font-size: 14px;
  padding: 5px 10px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.footer-social a i:hover {
  color: #ff2020;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.footer-padding {
  padding-top: 150px;
  padding-bottom: 120px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .footer-padding {
    padding-top: 150px;
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-padding {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-padding {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 575px) {
  .footer-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.footer-padding2 {
  padding-bottom: 120px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .footer-padding2 {
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-padding2 {
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-padding2 {
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-padding2 {
    padding-bottom: 70px;
  }
}
@media (max-width: 575px) {
  .footer-padding2 {
    padding-bottom: 70px;
  }
}
