
@{
    ViewBag.Title = "About";
}

<main>
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Behind the Rolex crown is a way of thinking about our place in the world and an aspiration to contribute.</h4>
                        <p>
                            We call this perpetual spirit. It is based on a fundamental belief in unlimited human potential, in continuous improvement and lasting excellence, in always pushing the boundaries and taking the long-term view. Our watches are built to last. So is our contribution to future generations. Discover more about our corporate commitments on Rolex.org
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- set background img in css -->
                </div>
            </div>
        </div>
    </div>
</main>

